.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-areas: "left-column right-column";
  width: 1200px;
  height: 1000px;
  margin: 100px;
  justify-items: start;
}

.left-column {
  grid-area: left-column;
  background-color: #373741;
}

h1 {
  color: #2aa4c9;
  margin: 20px;
  margin-top: 20px;
  font-size: 50px;
}

.sous-titres {
  color: #eba277;
  border-bottom: 3px solid #eba277;
  margin: 7px;
}

.lefttext {
  color: white;
  margin: 10px;
  line-height: 25px;
}

#leftlist {
  color: white;
  line-height: 35px;
}

.right-column {
  grid-area: right-column;
  background-color: #373741;
  display: grid;
  padding: 5%;
  grid-template-rows: auto;
  padding-top: 12%;
}

.topics {
  display: grid;
  background-color: #ff9e8e;
  color: #3a343e;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-size: large;
  height: 50px;
}

.situation {
  display: grid;
  background-color: #26a6cb;
  color: black;
  text-align: left;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  height: 25px;
}

.desc {
  display: grid;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  align-items: center;
  padding: 20px;
}

.comp {
  background-color: whitesmoke;
  color: black;
  text-align: left;
  align-items: center;
  padding: 20px;
  line-height: 30px;
}

.checked {
  color: orange;
}
