h1 {
    color: #27a6c7;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 5px;
    left: 20px;
}

h2 {
    color: #dea98a;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.lefttext {
    color: #f6f7fc;
    line-height: 6mm;
    position: relative;
    top: 0px;
    left: 0px;
}

#list {
    color: #f6f7fc;
    list-style-type: square;
    line-height: 15mm;
}

#scolarite {
    color: #3a343e;
    text-align: center;
    position: relative;
    left: 25em;
    bottom: 33em;
    width: 30em;
    border: 15px solid #ff9e8e;
    background-color: #ff9e8e;
   
}

#scoldesc {
    color: #000610;
    text-align: left;
    line-height: 7em;
    position: relative;
    left: 29.25em; 
    bottom: 40em;
    width: 35.1em;
    border: 15px solid white; 
    background-color: white; 
}

#exppro {
    color: #000610;
    text-align: center;
    position: relative;
    left: 25em;
    bottom: 38.8em;
    width: 30em;
    border: 15px solid #ff9e8e;
    background-color: #ff9e8e;
}

#expprodesc {
    color: #000610;
    text-align: left;
    line-height: 7em;
    position: relative;
    left: 29.25em; 
    bottom: 46.6em;
    width: 35.1em;
    border: 15px solid white; 
    background-color: white; 
}

#comp {
    color: #000610;
    text-align: center;
    position: relative;
    left: 25em;
    bottom: 44.5em;
    width: 30em;
    border: 15px solid #ff9e8e;
    background-color: #ff9e8e;
}

#compdesc {
    color: #000610;
    text-align: left;
    line-height: 4.5em;
    position: relative;
    left: 29.25em; 
    bottom: 53.6em;
    width: 35.1em;
    border: 15px solid white; 
    background-color: white; 
}

#uni {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 105.9em;
    width: 14em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#hs {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 103em;
    width: 16em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#ms {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 100.3em;
    width: 18em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#cdf {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 94.8em;
    width: 20em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#sfg {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 92em;
    width: 17.5em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#ap {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 89.3em;
    width: 15.6em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

#ce {
    color: #000312;
    text-align: left;
    position: relative;
    left: 26.5em;
    bottom: 86.5em;
    width: 18em;
    border: 10px solid #26a6cb;
    background-color: #26a6cb;
}

.checked {
    color: orange;
  }

body {
    background-color: #373741;
}